.orders-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;

    .table-container {
        padding-left: 50px;
        padding-right: 30px;
        padding-bottom: 20px;

        .order_list {
            position: relative;
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;

            .list_header {
                background: var(--bg-color2);
                border-bottom: 1.5px solid var(--primary);
                padding: 14px 30px;
                h2 {
                    color: var(--text-dark2);
                    margin: 0;
                    font-size: 0.85rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 1.3px;
                }
                h2.Category {
                    width: 14%;
                    min-width: 14%;
                }
                h2.order_num {
                    width: 14%;
                    min-width: 14%;
                }
                h2.order_num.people {
                    width: 10%;
                    min-width: 10%;
                }
                h2.Name {
                    width: 24%;
                    min-width: 24%;
                }
                h2.Client {
                    width: 25%;
                    min-width: 25%;
                }
                h2.Amount {
                    width: 15%;
                    min-width: 15%;
                }
                h2.phone {
                    width: 15%;
                    min-width: 15%;
                }
                h2.email {
                    width: 26%;
                    min-width: 26%;
                }
                h2.created {
                    width: 22%;
                    min-width: 22%;
                }
                h2.Items {
                    width: 12%;
                    min-width: 12%;
                }
                h2.Action.people {
                    width: 13%;
                    min-width: 13%;
                }
                h2.Table {
                    width: 14%;
                    min-width: 14%;
                }
                h2.Payment {
                    width: 17%;
                    min-width: 17%;
                }
                h2.reference_num {
                    width: 17%;
                    min-width: 17%;
                }
                h2.Date {
                    width: 15%;
                    min-width: 15%;
                }
                h2.Action {
                    width: 18%;
                    min-width: 18%;
                }
            }
            ul {
                li {
                    h3.Category {
                        width: 14%;
                        min-width: 14%;
                    }
                    h3.order_num {
                        width: 14%;
                        min-width: 14%;
                    }
                    h3.order_num.people {
                        width: 10%;
                        min-width: 10%;
                    }
                    h3.Name {
                        width: 24%;
                        min-width: 24%;
                    }
                    h3.Client {
                        width: 25%;
                        min-width: 25%;
                    }
                    h3.Amount {
                        width: 15%;
                        min-width: 15%;
                    }
                    h3.phone {
                        width: 15%;
                        min-width: 15%;
                    }
                    h3.email {
                        width: 26%;
                        min-width: 26%;
                    }
                    h3.created {
                        width: 22%;
                        min-width: 22%;
                    }
                    h3.Items {
                        width: 12%;
                        min-width: 12%;
                    }
                    div.Action.people {
                        width: 13%;
                        min-width: 13%;
                    }
                    h3.Table {
                        width: 14%;
                        min-width: 14%;
                    }
                    h3.Payment {
                        width: 17%;
                        min-width: 17%;
                    }
                    h3.reference_num {
                        width: 17%;
                        min-width: 17%;
                    }
                    h3.Date {
                        width: 15%;
                        min-width: 15%;
                    }
                    padding: 8px 30px;
                    color: var(--text-dark);
                    align-items: center;
                    h3 {
                        margin: 0;
                        font-size: 1rem;
                        font-weight: 400;
                        strong {
                            font-weight: 600;
                        }
                    }
                    .btn_container {
                        button.btn {
                            background: var(--bg-color);
                            border-radius: 4px;
                            margin: 0 3px;
                            min-width: 33px;
                            height: 33px;
                            font-size: 1.2rem;
                            &:last-child {
                                margin-right: 0;
                            }
                            i.zmdi-eye {
                                color: var(--green_color);
                            }
                            i.zmdi-receipt {
                                color: var(--green_color);
                            }
                            i.zmdi-print {
                                color: var(--green_color);
                            }
                            i.zmdi-delete {
                                color: var(--red_color);
                            }
                            i.zmdi-edit {
                                color: #29b6ff;
                            }
                            i.zmdi-image {
                                color: var(--primary);
                            }
                        }
                    }
                    &:nth-child(even) {
                        background: var(--bg-color2);
                    }
                    &:nth-child(odd) {
                        background: var(--white);
                    }
                }
                list-style: none;
                padding: 0;
            }
        }
    }
}
