@import "./variables";
@import "./common";
@import "./animation";

@font-face {
    font-family: "Product Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
}

body {
    overflow: hidden;
    height: 100%;
    background-color: var(--bg-color) !important;
}

.txtLink {
    color: var(--primary) !important;
    font-size: 12px;
    margin-left: 10px;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.tick {
    display: inline-block;
    transform: rotate(45deg);
    height: 20px;
    width: 10px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;

    &.themed {
        border-color: var(--primary);
    }
}

.msgText {
    background-color: white;
    color: #5d98d4;
    border: 1px solid #eef1fd;
    padding: 10px 30px;
    border-radius: 20px;
    position: relative;

    &::before,
    &::after {
        bottom: 1px;
        content: "";
        height: 1rem;
        position: absolute;
    }
}

.header-navigator {
    display: flex;
    height: 60px;
    background-color: var(--white);
    padding: 3px 5px;
    .backBtn {
        cursor: pointer;
        position: relative;
        width: 40px;
        margin: 2px 10px;
        &::before {
            content: "";
            position: absolute;
            width: 1px;
            height: 100%;
            top: 0;
            right: -0.375rem;
            bottom: 0;
            background: rgba(0, 0, 0, 0.1);
        }
        .back-arrow {
            position: absolute;
            width: 0.75rem;
            height: 0.75rem;
            border: 2px solid var(--primary);
            transition: all 0.5s ease;
            top: 50%;
            left: 30%;
            transform: translateY(-50%) rotate(-45deg);
            border-right: none;
            border-bottom: none;
            &::before {
                content: "";
                position: absolute;
                width: 1rem;
                height: 0.125rem;
                background: var(--primary);
                transform-origin: right;
                transform: rotate(45deg) translate(4px, 11px) scaleX(1);
                transition: all 0.5s ease;
            }
        }
    }
    .headerText {
        margin-left: 10px;
        font-size: 2rem;
        font-weight: bold;
        display: flex;
        p {
            font-weight: normal;
        }
    }
}

.main-container {
    height: 100%;
    background-color: var(--bg-color);
    .main-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        .header {
            z-index: 9998;
            min-height: 60px;
            background: var(--white);
            .navbar {
                padding: 0 25px;
                height: 60px;
                .navbar-brand {
                    width: 100%;
                    max-width: 175px;
                }
                .navbar-nav {
                    .nav-item {
                        padding: 0px 24px;
                        position: relative;
                        transition: all 0.3s;
                        cursor: pointer;
                        .nav-link {
                            color: var(--text-light);
                            font-size: 1.2rem;
                            font-weight: 600;
                            padding: 0;
                            height: 72px;
                            line-height: 72px;
                            transition: all 0.3s;
                            i {
                                color: var(--text-light);
                                font-size: 1.4rem;
                                min-width: 28px;
                                position: relative;
                                top: 2px;
                                transition: all 0.3s;
                            }
                            &:hover {
                                i {
                                    color: var(--primary);
                                }
                            }
                        }
                        &:last-child {
                            padding-right: 0;
                        }
                    }
                    .nav-item.profile_img {
                        .img_box {
                            min-width: 55px;
                            height: 55px;
                            border-radius: 10px;
                            display: block;
                            position: relative;
                        }
                        span {
                            position: absolute;
                            z-index: 1;
                            background: var(--primary);
                            border-radius: 50%;
                            width: 27px;
                            height: 27px;
                            text-align: center;
                            line-height: 28px;
                            bottom: -7px;
                            right: -6px;
                        }
                        i {
                            position: absolute;
                            z-index: 1;
                            color: var(--white);
                            border-radius: 50%;
                            font-size: 1.1rem;
                            width: 0;
                            height: 0;
                            text-align: center;
                            bottom: 0;
                            right: 0;
                            left: 0;
                            margin: auto;
                            top: 0;
                            overflow: hidden;
                            transition: all 0.5s;
                        }
                        i.zmdi-menu {
                            width: 20px;
                            height: 17px;
                        }
                    }
                    flex-direction: unset;
                    .nav-item.active {
                        .nav-link {
                            color: var(--text-black) !important;
                            transition: all 0.3s;
                            i {
                                color: var(--primary);
                            }
                        }
                    }
                }
                .dropdown-menu {
                    border: 0;
                    box-shadow: 0 10px 17px 1px rgba(0, 0, 0, 0.1);
                    padding: 9px 0;
                    overflow: hidden;
                    border-radius: 8px;
                    width: fit-content;
                    min-width: 135px;
                    .dropdown-item {
                        color: var(--text-dark);
                        font-weight: 700;
                        font-size: 1.1rem;
                        letter-spacing: 0.2px;
                        padding: 4px 16px;
                        &:active {
                            color: var(--primary);
                            background: var(--bg-color);
                        }
                    }
                }
            }
        }
        header.active {
            .navbar {
                .navbar-nav {
                    .nav-item.profile_img {
                        i.zmdi-menu {
                            width: 0;
                            height: 0;
                        }
                        i.zmdi-close {
                            width: 20px;
                            height: 17px;
                        }
                    }
                }
            }
        }
        .header {
            .navbar {
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            &:hover {
                                color: var(--text-black) !important;
                                transition: all 0.3s;
                            }
                        }
                    }
                }
            }
        }

        .page_title {
            padding: 28px 15px 28px 50px;
            position: relative;
            min-height: 100px;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: 10px;
                height: 50px;
                background: var(--primary);
                margin: auto 0;
            }
            h1 {
                margin: 0;
                color: var(--text-dark);
                font-size: 1.8rem;
                font-weight: 600;
            }
            .search_box {
                .form-group {
                    background: var(--white);
                    border-radius: 50px;
                    overflow: hidden;
                    margin: 0;
                    transition: all 0.3s;
                    .input-group-prepend {
                        .input-group-text {
                            background: none;
                            border: none;
                            padding: 0;
                            min-width: 60px;
                            text-align: center;
                            display: block;
                            line-height: 40px;
                            font-size: 1.3rem;
                            color: var(--text-light);
                        }
                    }
                    input {
                        box-shadow: none !important;
                        background: none !important;
                        padding: 0;
                    }
                }
            }
        }
    }
}

.increment-decrement-counter-container {
    display: inline-block;
    margin-left: 10px;
    h3 {
        width: fit-content;
        color: var(--text-dark);
        font-size: 1rem;
        font-weight: 600;
        margin: 0 auto;
        i {
            background: var(--primary);
            color: var(--white);
            min-width: 20px;
            height: 20px;
            border-radius: 50%;
            text-align: center;
            line-height: 20px;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
        }
        strong {
            min-width: 30px;
            padding: 0px 10px;
            margin-top: -1px;
        }
    }
}

.modal {
    .modal-header {
        .modal-title {
            &.single {
                flex: 0 0 95%;
            }
            .right {
                float: right;
                margin-top: 10px;
            }
            p {
                font-size: 14px;
                color: var(--text-dark2);
                margin-bottom: 0;
            }
        }
    }
    .modal-body {
        max-height: 400px;
        overflow-x: hidden;
        overflow-y: auto;
        ul {
            padding-left: 10px;
            list-style: none;
            li {
                margin-bottom: 20px;
                .form-check {
                    margin-bottom: 10px;
                }
                .form-check-inline {
                    margin-bottom: 0;
                }
                .df {
                    display: flex;
                }
            }
        }
    }
}

.m5 {
    margin: 5px !important;
}

.themeBtn {
    background-color: var(--primary) !important;
    color: var(--white) !important;
    border-color: var(--primary) !important;
    font-size: 18px;
}
