:root {
    --white: #fff !important;
    --primary: rgb(50, 39, 209) !important;
    --bg-color: #f8f9fd;
    --bg-color2: #f4f5f8;
    --transparent: rgba(0, 0, 0, 0);
    --text-light: #b3b3b3;
    --text-dark: #4d4d4d;
    --text-black: #000;
    --text-dark2: #898c97;
    --red_color: #ef1010;
    --green_color: #009946;
    --orange_color: #e93612;
}
